@import url('https://fonts.googleapis.com/css?family=Lato');

body{
	position: relative;
	font-family: 'Lato', sans-serif;
}

.container{
width: 100%;
padding-left: 0px;
padding-right: 0px;
}

.navbar{
width: 100%;
/*border: 1px solid black;*/
padding-top: 1.2%;
}

.navbar-inverse .navbar-brand{
	color: #ffffff;
	font-size: 30px;
	margin-bottom: 10px;
}

.navbar-inverse .navbar-brand:hover {
	color: #14a9d9;
}

.navbar-inverse .navbar-nav>li>a:hover{
	color: #14a9d9;

}

.navbar-inverse .navbar-nav>li>a{
	color: #ffffff;
	font-family: 'Lato', sans-serif !important;
}

.navcontainer{
	margin: auto;
	width: 80%;
	/*border: 1px solid red;*/
	margin-top: 2px;
}

.formhead{
	text-align: center;
}

/*.navbar-header{
width: 100%;
}*/

h3{
	text-align: center;
}
.submitbut{
	text-align: center;
}
.logobox{
height: 100px;
width: 300px;
/*border: 10px solid pink;*/
display: inline-block;
}

.logo{
height: 100%;
width: 100%;
/*border: 1px solid pink;*/
}

.navlinks{
float: right;
/*display: block;*/
margin: 1px solid black;
/*margin-right: 2%;*/
width: 30%;
color: white;
}

.navlink{
/*margin-right: 1%;*/

}

.jumbotron h1{
 text-align: center;
}

#gitbut{
	text-align: center;
}

#navbar{
	/*border: 2px solid black;*/
}

.pf{
	margin: 0 auto;
	display: block;
	width: 80%;
	/*border: 1px solid blue;*/
}

.pfh2{
	text-align: center;
	display: block;
}

.pftxtbox{
margin: auto;
display: block;
width: 100%;
/*border: 1px solid red;*/
}

.pfimg{
	height: 30%;
	width: 70%;
}

.centrimg{
	text-align: center;
}

.contactbox{
	/*padding-top: 5%;*/

}
.contactform{
	width: 30%;
	margin: auto;
}

.portfolioitembox{
min-width: 30%;
}

.col-md-4{
	/*min*/
}


/*Mobile Responsive Stuff */

@media screen and (min-width : 320px) and (max-width : 360px){
    body {
        /*background-color:#000000;*/
    }

    .pfimg{
	height: 25%;
	width: 100%;
}

.pfbox{
	/*margin-left: 20px;
*/}
.pftxtbox{
margin: auto;
/*display: block;*/
width: 100%;
font-size: 120%;
/*border: 1px solid green;*/
}

.contactform{
	width: 100%;
	margin: auto;
}

}

@media screen and (min-width : 361px) and (max-width : 413px){
    body {
        /*background-color:#000000;*/
    }

    .pfimg{
	height: 30%;
	width: 300px;
}
.pftxtbox{
margin: auto;
/*display: block;*/
width: 300px;
font-size: 120%;
/*border: 1px solid green;*/

}

.contactform{
	width: 100%;
	margin: auto;
}

}

@media screen and (min-width : 414px) and (max-width : 430px){
    body {
        /*background-color:#000000;*/
    }

    .pfimg{
	height: 30%;
	width: 300px;
}
.pftxtbox{
margin: auto;
/*display: block;*/
width: 300px;
font-size: 120%;
/*border: 1px solid green;*/
}

.contactform{
	width: 100%;
	margin: auto;
	padding-bottom: 50px;
}


}


@media screen and (min-width : 431px) and (max-width : 989px){
    body {
        /*background-color:#000000;*/
    }

    .pfimg{
	height: 35%;
	width: 400px;
}
.pftxtbox{
margin: auto;
/*display: block;*/
width: 400px;
font-size: 120%;
/*border: 1px solid green;*/
}

}

@media screen and (min-width : 992px) and (max-width : 1100px){
    body {
        /*background-color:#000000;*/
    }

    .pfimg{
	height: 30%;
	width: 100%;
}
}

@media screen and (min-width : 1100px) and (max-width : 1300px){
    body {
        /*background-color:#000000;*/
    }

    .pfimg{
	height: 40%;
	width: 100%;
}
}

@media screen and (max-width : 767px){
    #navbar{
    	width: 100%;
    }

    .navlinks{
float: left;
}

.navcontainer{
	margin: auto;
	width: 100%;
}
}

@media screen and (min-width : 768px) and (max-width : 1110px){
    body {
        /*background-color:#000000;*/
    }

    #navbar{
    	/*border: 2px solid yellow !important;*/
	/*margin-right: 400px;*/
	width: 48%;
}
}

@media screen and (min-width : 431px) and (max-width : 989px){
    body {
        /*background-color:#000000;*/
    }

.contactform{
	width: 80%;
	margin: auto;
}
}

.socialmediaimg{
	height: 40px;
	width: 40px;
	margin-right: 15px;
}

.socialbox{
	margin: 0 auto;
	display: block;
	/*background-color: blue;*/
	width: 180px;
}

.footer{
	background-color: #000000;
	padding-top: 30px;
	padding-bottom: 30px;
	/*margin-top: 80px;*/
}

@media screen and (min-width : 322px) and (max-width : 365px){
    body {
        /*background-color:#000000;*/
    }

.socialbox{
	/*margin: 0 auto;
	display: block;*/
	/*background-color: blue;*/
	width: 70%;
	/*background-color: pink;*/
}
}

@media screen and (min-width : 366px) and (max-width : 812px){
    body {
        /*background-color:#000000;*/
    }
}

@media screen and (min-width : 813px) and (max-width : 1157px){
    body {
        /*background-color:#000000;*/
    }

.socialbox{
	/*margin: 0 auto;
	display: block;*/
	/*background-color: blue;*/
	width: 30%;
	/*left: 50%;*/
	/*background-color: pink;*/
}
}

@media screen and (min-width : 1158px) and (max-width : 1642px){
    body {
        /*background-color:#000000;*/
    }

.socialbox{
	/*margin: 0 auto;
	display: block;*/
	/*background-color: blue;*/
	width: 20%;
	/*left: 50%;*/
	/*background-color: pink;*/
}
}

.carousel{
	top: 69px;
	height: 777px;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img{
	width: 100%;
	height: 100%;
}

.namebox{
	top: 12%;
	z-index: 10;
	position: absolute;
	width: 100%;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	text-align: center;
	background-color: rgba(0,0,0, .7);
	color: #ffffff;
}

.background{
	height: 983px;
}

#about{
	text-align: center;
	padding-bottom: 100px;
	background-color: #fff5f5;
	padding-top: 150px;
	margin-bottom: 0px;
}

li.active a{
	font-family: 'Lato', sans-serif !important;
}

li.active a:hover{
	color: #14a9d9 !important;
}

.headshotbox{
    height: 300px;
    width: 300px;
    margin: 0 auto;
    display: block;
    overflow: hidden;
    border-radius: 100%;
}

.headshotbox img{
	/*height: 100%;*/
	/*width: 100%;*/
	/*border-radius: 100%;*/
}

.scroll-adjust{
/*padding-top:150px;*/
/*margin-top:-40px;*/
}


.grid-item{
	height: 250px;
	width: 250px;
	margin-right: 20px;
	margin-bottom: 20px;

}
.resimg{
	height: 100%;
	width: 100%;
}

.pf{
	height: 100%;
	max-width: 810px;
	margin: 0 auto;
	/*padding-left: 10%;
	padding-right: 10%;*/
	padding-bottom: 150px;
	/*background-color: rgb(255, 255, 212);*/
}

.reshead{
	text-align: center;
	margin-bottom: 60px;
}

.filter-button-group{
	margin: 0px auto 50px auto;
	width: 527px;
	display: block;
}

.filterbut{
	border-radius: 0px;
	margin-left: -3px;
	background-color: #e7e7e7;
	background-image: none;
	border-color: #cccccc;
	padding: 8px 12px;
	font-size: 1.3em;
}

.filterbut:focus, .filterbut:active{
   background-color: #cccccc;
}

.btn:focus, .btn:active {
	outline: none !important;
}

.contactbox{
	padding-bottom: 150px;
	padding-top: 80px;
	background-color:#fff5f5;
}

.grid{
	display: block;
	max-width:810px;
	padding: 0;
	margin: 0 auto;
}

.pftext{
	position:absolute !important;
	top: 0;
	background-color: rgba(21, 18, 18, 0.74);
	height: 250px;
	width: 250px;
	color: #fff !important;
	text-align: center;
	padding-left:10px;
	padding-right:10px;
	/*display: none;*/
}

@media screen and (min-width : 768px) and (max-width : 882px){
	.navbar-nav{
	width: 660px;
}
}

@media screen and (min-width : 1111px) and (max-width : 1380px){
	.navbar-nav{
	width: 660px;
}
}

@media screen and (max-width : 437px){
	.filter-button-group{
	width: 200px;
}
}

@media screen and (max-width : 437px){
	.namebox{
	top: 5%;
}
}

@media screen and (max-width : 689px){
	.grid{
	width: 270px;
}
}

@media screen and (min-width : 690px) and (max-width : 1027px){
	.grid{
	width: 540px;
}
}
 .resume{
 	padding-top: 103px !important;
 }
}

.jumbotron{
	border-radius: 0px !important;
}

.resume{
	padding-top:75px;
}

.htitle{
	font-style: italic;
}

.form-control{
	border-radius: 0px;
}

.subtn{
	border-radius: 0px;
	background-image: none;
}

.contactform p{
	font-size: 1.2em;
}

.contactform{
	width: 50%;
}
